<!DOCTYPE html>
<html>
  <head>
    <title>HaikusWhenever</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Signup</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
